# Python Virtual Environment
venv/
ENV/
env/
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment Variables & Secrets
.env
.env.local

# Distribution / packaging
build/
devel/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
*.egg

# IDE & Editor Settings
.vscode/
.idea/
*.swp
*.swo
