DATABASE_URL=sqlite:///./ecommerce_v5.db
JWT_SECRET_KEY=prod_secret_key_day49_python200days_super_secret_string_32_bytes
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
PAYMENT_GATEWAY_URL=https://api.paymentgateway.com/v1/charge
LOG_LEVEL=INFO
ENVIRONMENT=production
DEBUG=False
